h1, h2 {
  color: inherit !important;
  text-decoration: none !important;
  text-shadow: none !important;
  cursor: default !important;
}

.app-name {
  color: #270089 !important;
  font-weight: bold !important;
}

.sidebar-nav a {
  color: #2a5db0 !important;
}

.sidebar-nav a:hover,
.sidebar-nav a:active {
  color: #1a73e8 !important;
}

.sidebar-team {
  font-size: 1.1em;
  /* font-weight: bold; */
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #000000; /* or any colour you'd like */
}